<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'css/style_user.css' %}">
</head>
<body>
    <div id="content">
        <div id="header">
            <h1>Zum-IN</h1>
            <h4>Your perfect property Match</h4>
            <img src="/Imagenes/zum-in/LOGO-1.jpg" alt="zum-in">
            {% load static %}	
            <img src="{% static 'images/LOGO-1.jpg' %}" />
            <div class="topnav">
                <a href="/profile/{{one_user.id}}">{{request.session.name}}</a>⎢
                <a href="/welcome/{{one_user.id}}">Home</a>⎢
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div id="wrapper">
            <div id="list">
                    <h3>Edit my Profile</h3>
                    <ul class="messages">    
                        {% for message in messages %} 
                        <li>{{ message }}</li>   
                        {% endfor %}
                    </ul>
                    <form action="/register" method="POST">
                        {% csrf_token %}
                        <p>First Name:</p>
                        <input type="text" name="first_name">
                        <p>Last Name:</p>
                        <input type="text" name="last_name">
                        <p>Email:</p>
                        <input type="email" name="email">
                        <p>Password:</p>
                        <input type="password" name="password">
                        <p>Confirm Password:</p>
                        <input type="password" name="confirm_password">
                        <input type="submit" value="Edit">
                    </form>

            </div>
        </div>
    </div>

</body>
</html>